%aside#toolbar
  #infobox
  #graphics.toolitem
    %details
      %summary graphics
      zoom
      %select#zoomer
      %br
      %button#getsvg(type="button" onclick="editor.getsvg()")
        get svg
  #directory.toolitem
    %details
      %summary root directory
      nothing
  #workspace.toolitem
    %details
      %summary workspace
      nothing
#editor
#popupmenu
