%aside#toolbar
  #infobox
    #innerbox
    -if(session[:user])
      %button#fork(type="button" onclick="files.forkall()")
        fork
  #information
  #graphics.toolitem
    %details
      %summary graphics
      zoom
      %select#zoomer
      %br
      %button#getsvg(type="button" onclick="editor.getsvg()")
        get svg
  -if(session[:user])
    #directory.toolitem
      %details(open)
        %summary root directory
        %button#addtoroot(type="button" onclick="files.addtoroot()")
          add here
    #workspace.toolitem
      %details(open)
        %summary workspace
        %button#addtowksp(type="button" onclick="files.addtowksp()")
          add here
#editor
#popupmenu
#contextmenu
