%aside#toolbar
  #infobox
  #information
  #graphics.toolitem
    %details
      %summary graphics
      zoom
      %select#zoomer
      %br
      %button#getsvg(type="button" onclick="editor.getsvg()")
        get svg
  -if(session[:user])
    #directory.toolitem
      %details
        %summary root directory
        nothing yet
    #workspace.toolitem
      %details
        %summary workspace
        nothing yet
#editor
#popupmenu
#contextmenu
