-if ($tablecount == 0)
  %p
    clicking ok will initialize the databases and set up a superuser.
    You must have mysql installed, and create a database called 'ogp'.
    The user www-data should have all privileges on this database.
    Typically this will be done by executing the following commands
    on your MySQL installation as superuser.
  %p
    create database ogp;
    %br
    grant all privileges on ogp.* to "www-data"@localhost;
  %p
    Please input information about the superuser to proceed.

  %form(action="/initialize" method="post")
    login
    %input(type="text" name="login")
    %br
    name
    %input(type="text" name="name")
    %br
    email
    %input(type="text" name="email")
    %br
    password
    %input(type="password" name="password")
    %br
    %input(type="submit" value="OK!")

-else
  %p
    it seems like you have already initialized ogp!

