!!! 5
%html
  %head
    %title make user
  %body
    %section
      %form(action="" method="post")
        Desired login:
        %input(type="text" name="login" id="loginInput")
        %br
        Email address:
        %input(type="text" name="email" id="emailInput")
        %br
        Password:
        %input(type="password" name="pass" id="passInput")
        %br
        %button(type="submit" id="searchButton") submit
