!!! 5
%html
  %head
    %title OpenGenePool - Community DNA Sharing
    %link(href="/ogp.css" rel="stylesheet" type="text/css")

    %script(src="/jquery.js" type="text/javascript" charset="utf-8")
    %script(src="/ogp.js" type="text/javascript" charset="utf-8")
    %script(src="/dialog.js" type="text/javascript" charset="utf-8")
    -@scriptlist.each do |j|
      %script(src=j type="text/javascript" charset="utf-8")

    -#output any other scripts that we may want to generate.
    %script(type="text/javascript" charset="utf-8")
      #{@otherscripts}

    -@csslist.each do |i|
      %link(href=i rel="stylesheet" type="text/css")

    -#save userstate in javascript.
    -if(session[:user])
      %script(id="userident_js" type="text/javascript" charset="utf-8")
        username = '#{session[:user]}';

  %body
    %header
      #logo
        %img#logoimg(src="/ogp.png")
      #title
        %h1(style="margin-bottom:0px;") OpenGenePool
        %i(style="padding-left:100px;") an indysci joint
      #loginbox
        %form(action="/login" method="post")
          #innerloginleft
            %input(type="text" name="login" id="loginString")
              username
            %input(type="password" name="pass" id="passString")
              password
          #innerloginright
            %button(type="submit" id="loginSubmit")
              Login
      #searchbox
        #searchcomponent
          %form(action="search/")
            #innersearch
              %input(type="text" name="query" id="searchInput")
              %button(type="submit" id="searchButton")
                %img(src="/searchico.png")
        #logincomponent
          #{@logincontent}
    %section#content
      #{@content}
    #dialogmodal
      #dialog
        #dialogcontent
        #dialogbuttons
          %button#dialogok(type="button")
            ok
          %button#dialogcancel(type="button")
          cancel
