%html
  %head
    %title OpenGenePool users list
  %body
    #main
      %table
        %tr
          %th id
          %th login
          %th email
          %th password
        -res.each do |i|
          %tr
            %td #{i[:id]}
            %td #{i[:login]}
            %td #{i[:email]}
            %td #{i[:hash]}
