#toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 150px;

  background: #999;
}

#infobox {
  position: relative;
  border-color: #000;
  background: #AAA;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  margin: 10px;
  border-width: 1px;
  text-align: center;
}

#directory {
  position: relative;
  left: 0px;
  right: 0px;
}

#workspace {
  position: relative;
  left: 0px;
  right: 0px;
}

.fileman {
  padding: 10px;
}
.subdir {
  padding: 2px 10px;
}

#editor {
    position: absolute;
    color: #000;
    background: #FFF;

    overflow: auto;
    font-family: "Lucida Console", Monaco, monospace;

    bottom: 0px;
    left: 150px;
    top: 0px;
    right: 0px;
}

