.sequence{
  text-anchor: start;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
}

.position{
  text-anchor: end;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.sequencebox{
  fill: #333;
  stroke: #000;
  stroke-width: 1px;
}
